<div class="hero-video uk-cover-container uk-height-medium">
  <img class="hero-video-background uk-cover" uk-cover="" src="{{ thumbnail_url }}">
  <div class="uk-child-width-1-2 uk-grid uk-grid-collapse uk-height-1-1" uk-grid>
    <div class="uk-light">
      <h1 class="uk-heading-primary uk-text-center hero-video-title">{{ title }}</h1>
      <h2 class="uk-heading-primary uk-text-center hero-video-subtitle">{{ subtitle }}</h2>
      <a href="{{ permalink }}" class="hero-video-play-button">
        <i class="fa fa-play hero-video-play-button-icon"></i>
      </a>
    </div>
    <div></div>
  </div>
</div>
